* {
  margin: 0;
  padding: 0;
  border: none;
}
.assortment {
  width: 560px;
  height: 1257px;
  margin: 57px 11px 0px 29px;
}
.assortment__title {
  font-family: "RF Dewi Expanded";
  font-weight: 800;
  font-size: 30px;
  font-style: normal;
  line-height: 110%;
  color: #191919;
  text-align: center;
  letter-spacing: 0;
  margin-bottom: 55px;
}
.assortment__description {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #1a1a1a;
  margin: 0px 26px 70px 31px;
}
.assortment__ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}
.assortment__li {
  padding: 0px;
}
.assortment__li--img {
  width: 251px;
  height: 248px;
  top: 1046px;
  left: 31px;
  border-radius: 6px;
  margin-bottom: 10px;
}
.assortment__block {
  display: flex;
  flex-direction: row;
  gap: 13px;
}
.assortment__li--p1 {
  color: #000000;
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
  font-family: 'RF Dewi';
}
.assortment__li--p2 {
  color: #000000;
  margin-top: -2px;
  font-size: 14px;
  line-height: 120%;
  font-weight: 400;
  font-family: 'RF Dewi';
}